
db/TalentPool.pdd
src/.vs
src/Kernel/bin
src/Kernel/obj
src/EntityFramework/bin
src/EntityFramework/obj
src/TPDomain/bin
src/TPDomain/obj
src/TPWeb/bin
src/TPWeb/obj
src/TPWeb/ClientApp/package-lock.json
