
src/.vs
misc/ClassDiagram.svg
src/Common/bin
src/Common/obj
src/EntityFramework/bin
src/EntityFramework/obj
src/TPModel/bin
src/TPModel/obj
src/TPDomain/bin
src/TPDomain/obj
src/TPDomainTests/bin
src/TPDomainTests/obj
src/TPData/bin
src/TPData/obj
src/TPWeb/bin
src/TPWeb/obj
src/TPWeb/ClientApp/package-lock.json
src/TestResults
