<h2 id="tableLabel">Desenvolvedores / Developers</h2>

<p *ngIf="!developers"><em>Carregando / Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="developers">
  <thead>
    <tr>
      <th>Nome / Name</th>
      <th>Email</th>
      <th>Cidade / City</th>
      <th>Estado / State</th>
      <th>Whatsapp</th>
      <th>Alterar / Update</th>
      <th>Excluir / Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let developer of developers">
      <td>{{ developer.name }}</td>
      <td>{{ developer.email }}</td>
      <td>{{ developer.city }}</td>
      <td>{{ developer.state }}</td>
      <td>{{ developer.whatsapp }}</td>
      <td style="text-align:center"><button (click)="update(developer)"></button></td>
      <td style="text-align:center"><button (click)="delete(developer)"></button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><button (click)="add()">Novo / New</button></td>
    </tr>
  </tfoot>
</table>
