<h3 id="tableLabel">Desenvolvedores / Developers</h3>

<p *ngIf="!developers"><em>Carregando / Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="developers">
  <thead>
    <tr>
      <th>Nome / Name</th>
      <th>Email</th>
      <th>Cidade / City</th>
      <th>Estado / State</th>
      <th>Whatsapp</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let developer of developers">
      <td (click)="update(developer)" style="cursor: pointer">{{ developer.name }}</td>
      <td (click)="update(developer)" style="cursor: pointer">{{ developer.email }}</td>
      <td (click)="update(developer)" style="cursor: pointer">{{ developer.city }}</td>
      <td (click)="update(developer)" style="cursor: pointer">{{ developer.state }}</td>
      <td (click)="update(developer)" style="cursor: pointer">{{ developer.whatsapp }}</td>
      <td><button (click)="delete(developer)">Excluir / Delete</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><button (click)="add()">Novo / New</button></td>
    </tr>
  </tfoot>
</table>
