<h1 id="tableLabel">Desenvolvedores</h1>

<p *ngIf="!developers"><em>Carregando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="developers">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nome</th>
      <th>Cidade/Estado</th>
      <th>Whatsapp</th>
      <th>Alterar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let developer of developers">
      <td>{{ developer.email }}</td>
      <td>{{ developer.name }}</td>
      <td>{{ developer.city +"/"+ developer.state }}</td>
      <td>{{ developer.whatsapp }}</td>
      <td style="text-align:center"><button (click)="update(developer)"></button></td>
      <td style="text-align:center"><button (click)="delete(developer)"></button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><button (click)="add()">Novo Desenvolvedor</button></td>
    </tr>
  </tfoot>
</table>
