<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group required">
    <label for="name" class="control-label">Nome/Name:</label>
    <input type="text" class="form-control form-control-sm" id="name" formControlName="name" />
    <small *ngIf="invalid(form.controls.name)" style="color:red">Nome inválido!</small>
  </div>
  <div class="form-group required">
    <label for="email" class="control-label">Endereço de e-mail:</label>
    <input type="email" class="form-control form-control-sm" id="email" formControlName="email" />
    <small *ngIf="invalid(form.controls.email)" style="color:red">E-mail inválido!</small>
  </div>
  <div class="form-group required">
    <label for="skype" class="control-label">Skype:</label>
    <input type="text" class="form-control form-control-sm" id="skype" formControlName="skype" />
    <small *ngIf="invalid(form.controls.skype)" style="color:red">Skype inválido!</small>
  </div>
  <div class="form-group required">
    <label for="whatsapp" class="control-label">Telefone/Phone (Whatsapp):</label>
    <input type="text" class="form-control form-control-sm" id="whatsapp" formControlName="whatsapp" />
    <small *ngIf="invalid(form.controls.whatsapp)" style="color:red">Whatsapp inválido!</small>
  </div>
  <div class="form-group">
    <label for="linkedIn" class="control-label">LinkedIn:&nbsp;</label>
    <input type="text" class="form-control form-control-sm" id="linkedIn" formControlName="linkedIn" />
    <small *ngIf="invalid(form.controls.linkedIn)" style="color:red">LinkedIn inválido!</small>
  </div>
  <div class="form-group required">
    <label for="city" class="control-label">Cidade / City:</label>
    <input type="text" class="form-control form-control-sm" id="city" formControlName="city" />
    <small *ngIf="invalid(form.controls.city)" style="color:red">Cidade inválida!</small>
  </div>
  <div class="form-group required">
    <label for="state" class="control-label">Estado / State:</label>
    <input type="text" class="form-control form-control-sm" id="state" formControlName="state" />
    <small *ngIf="invalid(form.controls.state)" style="color:red">Estado inválido!</small>
  </div>
  <div class="form-group">
    <label for="portfolio" class="control-label">Portfolio:&nbsp;</label>
    <textarea class="form-control form-control-sm" id="portfolio" formControlName="portfolio"></textarea>
    <small *ngIf="invalid(form.controls.portfolio)" style="color:red">Portfólio inválido!</small>
  </div>
  <div class="form-group required">
    <label class="control-label">What is your willingness to work today? / Qual é sua disponibilidade para trabalhar hoje?</label>
    <checkbox-group [cbFormGroup]="form" [controlName]="'availabilities'" [options]="availabilityItems" [selectedValues]="developerDto.availabilities"></checkbox-group>
    <small *ngIf="invalid(form.controls.availabilities)" style="color:red">Escolha a(s) disponibilidade(s)!</small>
  </div>
  <div class="form-group required">
    <label class="control-label">What's the best time to work for you? / Pra você qual é o melhor horário para trabalhar?</label>
    <checkbox-group [cbFormGroup]="form" [controlName]="'workingTimes'" [options]="workingTimeItems" [selectedValues]="developerDto.workingTimes"></checkbox-group>
    <small *ngIf="invalid(form.controls.workingTimes)" style="color:red">Escolha o(s) horário(s) para trabalhar!</small>
  </div>
  <div class="form-group required">
    <label for="salary" class="control-label">What is your hourly salary requirements? / Qual sua pretensão salarial por hora?</label>
    <input type="number" class="form-control form-control-sm" id="salary" formControlName="salary" />
    <small *ngIf="invalid(form.controls.salary)" style="color:red">Salário inválido!</small>
  </div>
  <div class="form-group required">
    <div formArrayName="knowledges"
         *ngFor="let knowledge of form.controls.knowledges.controls; index as i">
      <label class="control-label">{{ knowledges[i].name }}</label>
      <div [formGroupName]="i">
        <label *ngFor="let rate of rates" style="margin-right: 20px">
          <input formControlName="ratesRadio"
                 type="radio"
                 [value]="rate.key"
                 class="form-control form-control-sm" />
          {{ rate.label }}
        </label>
      </div>
      <small *ngIf="invalid(knowledge.controls['ratesRadio'])" style="color:red">Escolha uma avaliação para {{knowledges[i].name}}!</small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Salvar</button>&nbsp;
  <button type="button" (click)="onReset()" class="btn btn-secondary btn-sm">Limpar</button>
</form>
